body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #f5f5f5;
    /* background: url(img/bg.jpg) no-repeat;
    background-size: contain; */
    }
    
    .bgimg {
        background-image: url("https://piotrekt.github.io/covid19-polska/tarnowski_info/img/bg.jpg");
        height: 100%;
        opacity: 0.6;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    
    .box {
        
        padding: 30px;
        text-align: center;
        color: white;
        /*margin: 0; */
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%); 
        border-radius: 2%;
    
    }
    
    .boximg {
        border-radius: 50%;
        width: 60px;
        height:  60px;
    }
    
    .tp {
        width: 150px;
    }
    
    ul {
        margin: 0;
        padding: 0;
    }
    
    .box li {
        display: inline;
        margin: 6px;
        list-style: none;
    }
    
    .box li a {
        color: white;
        text-decoration: none;
        font-size: 35px;
        transition: all ease-in-out 250ms;
    }
    
    .box li a:hover {
        color: #b9b9b9;
    }
    
    h1 {
        font-size: 60px;
        margin: 0;
        padding-bottom: 60px;
        font-family: 'Architects Daughter', sans-serif;
    }
    
    .mail li a {
        color: white;
        text-decoration: none;
        font-size: 20px;
        transition: all ease-in-out 250ms;
    }
    
    .mail li a:hover {
        color: #b9b9b9;
    }